* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Satoshi', sans-serif;
}

body {
    background-color: #f0efef;
}

.Border_White {
    border: 2px solid rgba(255, 255, 255, 0.58);
    transition: 0.8s ease;
}

.Animation-header-left {
    animation: Animation-header-left 1.2s ease-in-out;
}

@keyframes Animation-header-left {
    from {
        margin-left: -15vw;
    }

    to {
        margin-left: 0vw;
    }
}

.Animation-header-right {
    animation: Animation-header-right 1.2s ease-in-out;
}

@keyframes Animation-header-right {
    from {
        margin-right: -15vw;
    }

    to {
        margin-right: 0vw;
    }
}

.background-image-HomePage {
    background-image: url(../assets/background-home-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-blur-black {
    background-color: rgba(0, 0, 0, 0.178);
}

.border-transparent {
    backdrop-filter: blur(20px);
}

.border-size {
    border: 2px solid black;
}

.bg-rotate {
    border-radius: 40px 0px 0px 0px;
}

.border-transparent-radius {
    border-radius: 25px;
    backdrop-filter: blur(30px);
}

#Cercle-HomePage-1 {
    background-image: url(../assets/background-home-page.jpg);
    background-size: cover;
}

#Cercle-HomePage-2 {
    background-image: url(../assets/background-image-1.jpg);
    background-size: cover;
}

#Cercle-HomePage-3 {
    background-image: url(../assets/background-image-2.jpg);
    background-size: cover;
}

.Animation-tittle {
    animation: Animation-tittle 1.2s ease-in-out;
}

@keyframes Animation-tittle {
    from {
        transform: scale(0.8);
        opacity: 0;
        margin-bottom: -80vh;
    }

    to {
        transform: scale(1);
        opacity: 1;
        margin-bottom: 0vh;
    }
}

.background-blur,
.border-transparent-navbar {
    backdrop-filter: blur(30px);
}

#cercle-1-section-1 {
    background-image: url(../assets/background-home-page.jpg);
    background-size: cover;
}

#cercle-2-section-1 {
    background-image: url(../assets/background-image-1.jpg);
    background-size: cover;
}

#cercle-3-section-1 {
    background-image: url(../assets/background-image-2.jpg);
    background-size: cover;
}

.border-blur {
    border-top: 1px solid rgba(255, 255, 255, 0.42);
}

.button-blur,
.button-blur-icone {
    background-color: rgba(205, 204, 204, 0.247);
    /* Couleur blanche semi-transparente */
    backdrop-filter: blur(10px);
    /* Appliquer le flou */
    -webkit-backdrop-filter: blur(10px);
}

@media (min-width : 1024px) {
    .cards {
        transition: 0.8s ease;
        filter: grayscale(100%);
    }

    .tittle-cards-2,
    .icone-cards {
        opacity: 0;
        transition: 0.5s ease;
    }

    .cards:first-child {
        filter: grayscale(0%);
    }
}

.cards:hover {
    filter: grayscale(0%);

    .tittle-cards {
        width: 100%;
    }

    .tittle-cards-2,
    .icone-cards {
        opacity: 1;
    }
}

.cards-shop img,
i {
    transition: 0.5s ease;
}

.cards-shop:hover {
    img {
        scale: 1.1;
    }

    i:first-child {
        color: red;
    }
}

#menu-1 {
    background-image: url(../assets/background-image-2.jpg);
    background-size: cover;
}

#menu-2 {
    background-image: url(../assets/menu-2.png);
    background-size: cover;
}

#menu-3 {
    background-image: url(../assets/menu-3.png);
    background-size: cover;
}

#menu-4 {
    background-image: url(../assets/menu-4.png);
    background-size: cover;
    background-position: center;
}

@media (max-width : 1023px) {
    .cards-section-4 {

        div:last-child {
            background-color: rgba(205, 204, 204, 0.162);
            backdrop-filter: blur(10px);
        }

        div i:last-child {
            background-color: white;
            color: black;
        }
    }
}

@media (min-width : 1024px) {

    .cards-section-4,
    div:first-child,
    div:last-child {
        transition: 0.8s ease;
    }

    .cards-section-4:hover {
        div:first-child {
            height: 40%;
        }

        div:last-child {
            height: 60%;
            background-color: rgba(205, 204, 204, 0.162);
            backdrop-filter: blur(10px);
        }

        div i:last-child {
            background-color: white;
            color: black;
        }
    }
}

#card-section-5 {
    background-image: url(../assets/background-home-page.jpg);
    background-size: cover;
    filter: grayscale(0%);
}

#card-section-5:hover {
    filter: grayscale(100%);
}

.cards-section-6 {
    transition: 0.8s ease;
}

.button-blur-footer {
    backdrop-filter: blur(10px);
    background-color: rgba(205, 204, 204, 0.176);
}

.button-blur-footer a:hover {
    color: orange;
    cursor: pointer;
    transition: 0.8s ease;
}

.button-blur-footer i:hover {
    color: orange;
    cursor: pointer;
    transition: 0.5s ease;
}

.button-blur-footer-link {
    border-top: 1px solid rgba(255, 255, 255, 0.297);
}

.button-blur-footer-left {
    border-left: 1px solid rgba(255, 255, 255, 0.297);
}

.background-image-menu {
    background-image: url(../assets/menu-background.png);
    background-size: cover;
    background-position: bottom;
}

#locations-1 {
    background-image: url(../assets/locations-1.png);
    background-size: cover;
}

#locations-2 {
    background-image: url(../assets/locations-2.png);
    background-size: cover;
}

#locations-3 {
    background-image: url(../assets/locations-3.png);
    background-size: cover;
}

.background-dark-img {
    background: linear-gradient(188deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    opacity: 1;
}

.background-image-jobs {
    background-image: url(../assets/jobs.png);
    background-size: cover;
    background-position: 20%;
}

#coffee_1 {
    background-image: url(../assets/coffee.png);
    background-size: cover;
    background-position: center;
}

#coffee_2 {
    background-image: url(../assets/coffee-2.png);
    background-size: cover;
}

#coffee_3 {
    background-image: url(../assets/coffee-3.png);
    background-size: cover;
    background-position: 50%;
}

#coffee_4 {
    background-image: url(../assets/coffee-4.png);
    background-size: cover;
}

#coffee_5 {
    background-image: url(../assets/coffee-5.png);
    background-size: cover;
    background-position: 50%;
}
#coffee_6 {
    background-image: url(../assets/coffee-6.png);
    background-size: cover;
    background-position: 50%;
}